/* @include adaptiv-font(40, 16); */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Lekton";
  src: url("../fonts/lekton/Lekton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lekton Bold";
  src: url("../fonts/lekton/Lekton-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lekton Italic";
  src: url("../fonts/lekton/Lekton-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Bold";
  src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald Italic";
  src: url("../fonts/Oswald/Oswald-Italic.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
}

header {
  order: 1;
}

main {
  order: 2;
}

footer {
  order: 3;
}

.header .container {
  display: flex;
  flex-flow: row wrap;
}

.header .menu-burger__icon > .soc-media__icon {
  font-size: 24px;
  color: #4bc7c7;
  cursor: pointer;
}

.header .menu-burger__icon > .soc-media__icon:hover {
  color: #848484;
  transition: all 0.3s ease;
}

.header #menu-checkbox {
  display: none;
}

.header #menu-checkbox:checked + .menu {
  display: block;
}

.header .menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #60d4d4;
  width: 100%;
  height: 100%;
}

.header .menu .inner {
  padding: 2.1875rem 1.5625rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header .menu .inner .close {
  color: #f0d93e;
  font-size: 1.125rem;
  cursor: pointer;
}

.header .menu .inner .close:hover {
  color: #fdeecf;
}

.header .menu__items {
  display: flex;
  flex-flow: row wrap;
  padding-right: 6.25rem;
}

.header .menu__item {
  padding: 0 0.625rem;
  border-right: 1px solid #f0d93e;
}

.header .menu__item:last-child {
  border: none;
}

.header .menu__link {
  color: #f0d93e;
  text-transform: uppercase;
}

.header .menu__link:hover {
  color: #fdeecf;
}

.header .left-part {
  position: relative;
  padding: 2.1875rem 1.5625rem;
  background-color: #f0d93e;
  flex-basis: 50%;
}

.header .left-part .inner {
  padding: 3.75rem 4.6875rem;
  padding-bottom: 0.9375rem;
}

.header .left-part .inner .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 8.4375rem;
}

.header .left-part .inner .content .logo {
  margin-bottom: 10px;
}

.header .left-part .inner .content .title {
  white-space: pre-line;
  color: #46b4b4;
}

.header .left-part .inner .content .title::first-line {
  color: #4eabab;
}

.header .left-part .inner .media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header .left-part .inner .media .soc-media {
  display: flex;
  flex-basis: 35%;
  justify-content: space-between;
}

.header .left-part .inner .media .soc-media__icon {
  color: #46b4b4;
}

.header .left-part .inner .media .soc-media__icon:hover {
  color: #848484;
  transition: all 0.3s ease;
}

.header .left-part .inner .media .contact {
  display: flex;
  flex-basis: 30%;
  justify-content: space-between;
}

.header .left-part .inner .media .contact .phone {
  font-family: "Lekton";
  color: #46b4b4;
}

.header .left-part .inner .media .contact .phone:hover {
  color: #848484;
}

.header .right-part {
  background-image: linear-gradient(90deg, #dfd8c6 0%, #d2cab7 100%);
  flex-basis: 50%;
  padding: 7.5rem 13.4375rem 3.125rem 13.4375rem;
}

.header .right-part .content {
  display: flex;
  flex-flow: column wrap;
  font-family: "Lekton";
  text-transform: uppercase;
}

.header .right-part .content .details span {
  color: #fdeecf;
}

.header .right-part .content .details .nav-text {
  color: #fff;
  line-height: 20px;
}

.header .right-part .content .btn__wrapper {
  margin-top: 0.9375rem;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.block {
  display: flex;
  flex-flow: column wrap;
}

.content {
  flex-basis: 50%;
}

.media {
  flex-basis: 50%;
}

.btn {
  padding: 0.1875rem 2.6875rem;
  border: 1px solid #9a977a;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
}

.soc-media__icon {
  font-size: 16px;
}

.title {
  font-size: 30px;
  color: #303030;
  line-height: 30px;
}

.heading {
  font-size: 18px;
  color: #848484;
}

.title,
.heading {
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  color: #848484;
}

.nav-text {
  font-size: 14px;
  color: #848484;
}

.quote {
  font-size: 24px;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.header,
.main,
.footer {
  max-width: 100%;
}
/*# sourceMappingURL=maps/main.css.map */
